.wrapper {
  max-width: 1400px;
  margin: auto;
}
.body {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px;
  color: white;
  flex-direction: column;
  p {
    font-size: medium;
  }
  .title {
    display: flex;
    align-items: center;
    h1 {
      margin: 30px 17px;
    }
    img {
      height: 70px;
    }
    .inner-container {
      display: flex;
    }
  }
  .search-intro{
    margin-top: 30px;
    text-align: center;
    .lottie{
      margin-bottom: 20px;
    }
  }
}

p {
  margin: 5px 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 73%;
    padding: 30px 40px;

    .title {
      align-items: baseline;
      img {
        height: 40px;
      }
    }
  }
}
