.wrapper {
  margin: auto;
  max-width: 1250px;
}
.body {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  p {
    font-size: medium;
  }
  .title {
    align-items: center;
    display: flex;
    h1 {
      margin: 30px 17px;
    }
    img {
      height: 70px;
    }
    .inner-container {
      display: flex;
    }
  }
  .search-intro {
    margin-top: 30px;
    text-align: center;
    .lottie {
      margin-bottom: 20px;
    }
  }
}

p {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) and (min-height: 768px), (min-width: 1024px) {
  .container {
    padding: 30px 40px;
    width: 73%;
    .title {
      align-items: baseline;
      img {
        height: 40px;
      }
    }
  }
}
