/*Mobile Nominations Drawer styling ***************************************** */
.navbar {
  background-color: white;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
  .MuiButton-root {
    color: rgb(0, 0, 0);
    padding: 6px 23px;
  }
  .MuiButtonBase-root {
    align-items: flex-end;
    display: inline-flex;
  }
  .MuiBadge-anchorOriginTopRightRectangle {
    transform: scale(1) translate(25%, -25%);
  }
  .MuiBadge-badge {
    font-size: 1rem;
  }
  .MuiSvgIcon-root {
    background-color: white;
    border-radius: 50px;
    height: 1.2em;
    padding: 5px;
    width: 1.2em;
  }
}

.MuiDrawer-paper {
  max-width: 350px;
  width: 85%;
  h2 {
    margin: 15px 15px 0;
  }
  p {
    color: black;
  }
  img {
    border-radius: 7px;
    height: 78px;
    margin-top: auto;
    max-width: 53px;
    object-fit: cover;
  }
  .no-nominations {
    p {
      margin: 15px;
    }
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px), (min-width: 1024px) {
  .navbar {
    display: none;
  }
}
