/*Movie Details styling *******************************************/
.movie-details {
  color: white;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  width: 100%;
  img {
    border-radius: 7px;
    height: 220px;
    object-fit: cover;
    width: 100%;
  }
  button {
    align-items: center;
    background-color: transparent;
    border-color: rgb(15, 146, 11);
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    color: rgb(15, 146, 11);
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    height: fit-content;
    justify-content: space-evenly;
    padding: 4px;
    text-align: center;

    p {
      margin: 0px;
    }
    &:hover {
      background-color: rgb(15, 146, 11);
      color: #333333;
    }
    &:disabled,
    &[disabled] {
      background-color: rgb(140, 141, 140);
      border-color: rgb(140, 141, 140);
      color: #1f1c1c;
      opacity: 0.7;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    height: 115px;
    justify-content: space-between;
    .title {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      height: 53px;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}