.nominations-list {
  color: white;
  display: none;
  padding: 10px 10px 0 0;
  position: fixed;
  right: 10px;
  width: 25%;

  img {
    border-radius: 7px;
    height: 78px;
    margin-top: auto;
    max-width: 53px;
    object-fit: cover;
  }
  button {
    align-items: center;
    background-color: transparent;
    border-color: rgb(15, 146, 11);
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    color: rgb(15, 146, 11);
    display: inline-flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    height: fit-content;
    justify-content: space-evenly;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .title {
    display: flex;
  }

  .button p {
    display: inline;
  }
  .empty-box {
    color: antiquewhite;
    height: 150px;
    max-width: 100%;
  }
  .details {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  .nomination {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .nominations-list {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .nominations-list {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .nominations-list {
    padding: 40px 10px 0 20px;
    position: initial;
  }
}
