.nomination {
  display: flex;
  margin: 12px 0 0 0;
  p {
    margin: 0 0 5px 0;
  }
  .details {
    /* height: 108px; */
    display: flex;
    margin-left: 10px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 90px;
      padding: 4px;
      background-color: rgb(228, 29, 29);
      color: white;
      font-size: 1rem;
      border-style: none;
      border-radius: 6px;
      &:hover {
        background-color: rgb(216, 4, 4);
      }
    }
    .title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
