/* Page Change Buttons  styling ******************************************/
.page-change-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  button {
    width: 75px;
    display: flex;
    justify-content: center;
    height: fit-content;
    border-radius: 6px;
    border-style: none;
    font-size: 1rem;
    margin: 0 10px;
  }
  svg {
    font-size: xx-large;
  }
}
