/* Search Bar styling ******************************************/
.search-bar {
  border-radius: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  form {
    align-items: center;
    display: flex;
    justify-content: center;
    .search-input {
      align-items: center;
      background-color: white;
      border-radius: 15px;
      display: flex;
      padding: 0 20px;

      width: 100%;
    }
    .search-submit {
      border: 3px solid white;
      border-radius: 15px;
      display: none;
      font-family: "Nunito Sans", sans-serif;
      font-size: inherit;
      font-weight: 600;
      height: 32px;
      padding: 0 18px;
      &:hover {
        border: 3px solid #eebc16;
      }
    }
    input {
      border-radius: 4px;
      border-style: none;
      font-size: large;
      height: 32px;
      padding: 0 6px;
      width: 100%;
      &:focus-visible {
        outline: auto;
        outline-color: #343434;
      }
    }
    &:focus-visible {
      border: inset;
      outline: inset;
    }
    label {
      font-size: large;
    }
  }
}

@media screen and (min-width: 568px) and (max-height: 550px) {
  .search-bar {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  .search-bar {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .search-bar {
    form {
      .search-input {
        margin-right: 10px;
      }
      .search-submit {
        display: block;
      }
    }
  }
}
