.wrapper {
  margin: auto;
  max-width: 1250px;
}

.body {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.container p {
  font-size: medium;
}

.container .title {
  align-items: center;
  display: flex;
}

.container .title h1 {
  margin: 30px 17px;
}

.container .title img {
  height: 70px;
}

.container .title .inner-container {
  display: flex;
}

.container .search-intro {
  margin-top: 30px;
  text-align: center;
}

.container .search-intro .lottie {
  margin-bottom: 20px;
}

p {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) and (min-height: 768px), (min-width: 1024px) {
  .container {
    padding: 30px 40px;
    width: 73%;
  }
  .container .title {
    align-items: baseline;
  }
  .container .title img {
    height: 40px;
  }
}

/* Movie List styling ******************************************/
.movie-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 145px);
  justify-content: space-around;
  margin: 30px 0;
}

@media screen and (min-width: 988px) {
  .movie-list {
    justify-content: space-between;
  }
}

/*Movie Details styling *******************************************/
.movie-details {
  color: white;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  width: 100%;
}

.movie-details img {
  border-radius: 7px;
  height: 220px;
  object-fit: cover;
  width: 100%;
}

.movie-details button {
  align-items: center;
  background-color: transparent;
  border-color: #0f920b;
  border-image: none;
  border-radius: 5px;
  border-style: solid;
  color: #0f920b;
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  height: fit-content;
  justify-content: space-evenly;
  padding: 4px;
  text-align: center;
}

.movie-details button p {
  margin: 0px;
}

.movie-details button:hover {
  background-color: #0f920b;
  color: #333333;
}

.movie-details button:disabled, .movie-details button[disabled] {
  background-color: #8c8d8c;
  border-color: #8c8d8c;
  color: #1f1c1c;
  opacity: 0.7;
}

.movie-details .details {
  display: flex;
  flex-direction: column;
  height: 115px;
  justify-content: space-between;
}

.movie-details .details .title {
  display: -webkit-box;
  height: 53px;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* Search Bar styling ******************************************/
.search-bar {
  border-radius: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.search-bar form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-bar form .search-input {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  padding: 0 20px;
  width: 100%;
}

.search-bar form .search-submit {
  border: 3px solid white;
  border-radius: 15px;
  display: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: inherit;
  font-weight: 600;
  height: 32px;
  padding: 0 18px;
}

.search-bar form .search-submit:hover {
  border: 3px solid #eebc16;
}

.search-bar form input {
  border-radius: 4px;
  border-style: none;
  font-size: large;
  height: 32px;
  padding: 0 6px;
  width: 100%;
}

.search-bar form input:focus-visible {
  outline: auto;
  outline-color: #343434;
}

.search-bar form:focus-visible {
  border: inset;
  outline: inset;
}

.search-bar form label {
  font-size: large;
}

@media screen and (min-width: 568px) and (max-height: 550px) {
  .search-bar {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  .search-bar {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .search-bar form .search-input {
    margin-right: 10px;
  }
  .search-bar form .search-submit {
    display: block;
  }
}

/* Page Change Buttons  styling ******************************************/
.page-change-buttons {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}

.page-change-buttons button {
  border-radius: 6px;
  border-style: none;
  display: flex;
  font-size: 1rem;
  height: fit-content;
  justify-content: center;
  margin: 0 10px;
  width: 75px;
}

.page-change-buttons svg {
  font-size: xx-large;
}

.nominations-list {
  color: white;
  display: none;
  padding: 10px 10px 0 0;
  position: fixed;
  right: 10px;
  width: 25%;
}

.nominations-list img {
  border-radius: 7px;
  height: 78px;
  margin-top: auto;
  max-width: 53px;
  object-fit: cover;
}

.nominations-list button {
  align-items: center;
  background-color: transparent;
  border-color: #0f920b;
  border-image: none;
  border-radius: 5px;
  border-style: solid;
  color: #0f920b;
  display: inline-flex;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  height: fit-content;
  justify-content: space-evenly;
  text-align: center;
}

.nominations-list button p {
  margin: 0;
}

.nominations-list .title {
  display: flex;
}

.nominations-list .button p {
  display: inline;
}

.nominations-list .empty-box {
  color: antiquewhite;
  height: 150px;
  max-width: 100%;
}

.nominations-list .details {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.nominations-list .nomination {
  display: flex;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .nominations-list {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .nominations-list {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .nominations-list {
    padding: 40px 10px 0 20px;
    position: initial;
  }
}

.nomination {
  display: flex;
  margin: 12px 0 0 0;
}

.nomination p {
  margin: 0 0 5px 0;
}

.nomination .details {
  color: white;
  /* height: 108px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.nomination .details button {
  background-color: #e41d1d;
  border-radius: 6px;
  border-style: none;
  color: white;
  font-size: 1rem;
  padding: 4px;
  width: 90px;
}

.nomination .details button:hover {
  background-color: #d80404;
}

.nomination .details .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/*Mobile Nominations Drawer styling ***************************************** */
.navbar {
  background-color: white;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .MuiButton-root {
  color: black;
  padding: 6px 23px;
}

.navbar .MuiButtonBase-root {
  align-items: flex-end;
  display: inline-flex;
}

.navbar .MuiBadge-anchorOriginTopRightRectangle {
  transform: scale(1) translate(25%, -25%);
}

.navbar .MuiBadge-badge {
  font-size: 1rem;
}

.navbar .MuiSvgIcon-root {
  background-color: white;
  border-radius: 50px;
  height: 1.2em;
  padding: 5px;
  width: 1.2em;
}

.MuiDrawer-paper {
  max-width: 350px;
  width: 85%;
}

.MuiDrawer-paper h2 {
  margin: 15px 15px 0;
}

.MuiDrawer-paper p {
  color: black;
}

.MuiDrawer-paper img {
  border-radius: 7px;
  height: 78px;
  margin-top: auto;
  max-width: 53px;
  object-fit: cover;
}

.MuiDrawer-paper .no-nominations p {
  margin: 15px;
}

@media only screen and (min-width: 768px) and (min-height: 768px), (min-width: 1024px) {
  .navbar {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */